<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- WITHOUT form model binding -->
<form action="/ads/create" method="post">
    Title:
    <input name="title" />
    <br />
    Description:
    <input name="description" />
    <br />
    <input type="submit" />
    model binding
    @GetMapping("/ads/create")
    public String showCreateForm() {
    return "ads/create";
    }
    @PostMapping("/ads/create")
    @ResponseBody
    public String create(
    @RequestParam(name = "title") String title,
    @RequestParam(name = "description") String description
    ) {
    Ad ad = new Ad();
    ad.setTitle(title);
    ad.setDescription(description);
    // save the ad...
    return "Ad saved!";
    }
</form>
</body>
</html>